<h2>Detalle del Carrito</h2>
  <div class="div-cart">
      <button id="okCartBtn" name="btn-ok-cart" class='bntViewCart'>Confirmar Compra</button> 
  </div>
<div>
      {{#each data}}
      <div class="product-item">
        <p><b>Title:</b> {{this.product.title}}</p>
        <p><b>Description:</b> {{this.product.description}}</p>
        <p><b>Category:</b> {{this.product.category}}</p>
        <p><b>Price:</b> {{this.product.price}}</p>
        <p><b>Status:</b> {{this.product.status}}</p>
        <p><b>Code:</b> {{this.product.code}}</p>
        <p><b>Stock:</b> {{this.product.stock}}</p>
        <p class="quantity"><b>Quantity:</b> {{this.quantity}}</p>
      </div>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/utils.js"></script>
<script src="/js/detailsCart.js"></script>