<div>
  <h2>Vista del Producto</h2>
  <div id="listadoProductos" class="product-container">
    {{#if data}}
      <div class="product-item">
        <p><b>Title:</b> {{data.title}}</p>
        <p><b>Description:</b> {{data.description}}</p>
        <p><b>Category:</b> {{data.category}}</p>
        <p><b>Price:</b> {{data.price}}</p>
        <p><b>Status:</b> {{data.status}}</p>
        <p><b>Code:</b> {{data.code}}</p>
        <p><b>Stock:</b> {{data.stock}}</p>
        <div class="product-buttons">
          <button id= {{data._id}} name='btn-add-cart'>Agregar al Carrito</button>
        </div>
      </div>
    {{/if}}
  </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>