<div>
  <h2>Lista de Productos</h2>
  <div id="listadoProductos" class="product-container">
    {{#each data.payload}}
      <div class="product-item">
        <p><b>Id:</b> {{this._id}}</p>
        <p><b>Title:</b> {{this.title}}</p>
        <p><b>Description:</b> {{this.description}}</p>
        <p><b>Category:</b> {{this.category}}</p>
        <p><b>Price:</b> {{this.price}}</p>
        <p><b>Status:</b> {{this.status}}</p>
        <p><b>Code:</b> {{this.code}}</p>
        <p><b>Stock:</b> {{this.stock}}</p>
        <div class="product-buttons">
          <button id={{this._id}} name="btn-add-cart" class='btnAddCart'>Agregar al Carrito</button>
          <button id={{this._id}} name="btn-view-prod" class='btnProd'>Ver Producto</button>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="product-paging">
    {{#if data.hasPrevPage}}
      <button class="button-paging"><a href={{data.prevLink}}>Pagina Previa</a></button>
    {{/if}}
    {{#if data.hasNextPage}}
      <button class="button-paging"><a href={{data.nextLink}}>Pagina Siguiente</a></button>
    {{/if}}  
  </div>
  <div class="product-paging">
    Pagina {{data.page}} de {{data.totalPages}}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>
<script src="/js/cart.js"></script>